* {
    font-family: "TT Lakes Medium", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('/img/background.jpg');
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px 10px 30px;
    max-width: 1120px;
    position: relative;
}

.header__title {
    font-size: 28px;
    margin-right: 440px;
}

.header__title::before {
    content: "";
    border: 3px solid #41F6D7;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    top: 35px;
    left: 0px;
}

.header__item {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__item:first-of-type {
    margin-right: 30px;
}

.main {
    padding: 0 30px;
    max-width: 1120px;
}

.tabs-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tabs-list__item {
    padding: 8px 20px;
    white-space: nowrap;
}

.tabs-list__item a {
    text-decoration: none;
}

.tabs-list__item:last-of-type {
    padding-right: 0;
}

.tabs-list__item--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.tabs-text {
    padding-top: 20px;
    max-width: 490px;
}

.tabs-text__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}

.tabs-img {
    min-width: 530px;
}

.tabs-img img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    position: relative;
}

.navigation {
    display: none;
}

@media (max-width: 768px) {
    .header {
        max-width: 768px;
    }

    .main {
        max-width: 768px;
    }

    .header__item {
        display: none;
    }

    .header__title {
        margin-right: 0;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 25px;
        height: 90px;
        position: relative;
    }

    .tabs-list {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .tabs-text {
        max-width: 312px;
        max-height: 160px;
        overflow: hidden;
    }

    .tabs-img {
        min-width: 360px;
    }

    .tabs-text__link {
        position: absolute;
        left: 0;
        top: 195px;
    }

    .container {
        padding-top: 20px;
    }

    .navigation__item:nth-of-type(2) {
        margin-right: 230px;
        margin-left: 20px;
    }

    .navigation__item:nth-of-type(2)::before {
        content: "";
        position: absolute;
        height: 32px;
        border-left: 2px solid #EAEAEA;
        width: 2px;
        top: 25px;
        left: 85px;
    }

    .navigation__item:nth-of-type(5) {
        margin-right: 20px;
    }

    .navigation__item:nth-of-type(5)::after {
        content: "";
        position: absolute;
        height: 32px;
        border-left: 2px solid #EAEAEA;
        width: 2px;
        top: 25px;
        left: 625px;
    }
}

@media (max-width: 320px) {

    .header {
        max-width: 320px;
    }

    .main {
        max-width: 320px;
        padding: 0;
    }

    .navigation {
        max-width: 320px;
    }

    .navigation__item:nth-of-type(3),
    .navigation__item:nth-of-type(4),
    .navigation__item:nth-of-type(5),
    .navigation__item:nth-of-type(2)::before {
        display: none;
    }

    .navigation__item:nth-of-type(5) {
        margin-right: 0px;
    }

    .navigation__item:nth-of-type(2) {
        margin-right: 16px;
        margin-left: 0;
    }

    .navigation__item:nth-of-type(2)::after {
        content: "";
        position: absolute;
        height: 32px;
        border-left: 2px solid #EAEAEA;
        width: 2px;
        top: 25px;
        left: 189px;
    }

    .container {
        display: block;
    }

    .tabs-text {
        max-width: 288px;
        max-height: 93px;
        overflow: hidden;
    }

    .tabs-img {
        min-width: 320px;
        padding: 0;
    }

    .tabs-list {
        padding: 24px 16px 0 16px;
    }

    .tabs-text {
        margin: 0;
        padding: 24px 16px 0 16px;
    }

    .tabs-img {
        padding: 60px 0 35px 0;
    }

    .tabs-text__link {
        position: absolute;
        left: 15px;
        top: 130px;
    }
}